html, body{
    background-color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    /* padding: 20% 0px; */
}


.attribution 
{ 
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 11px; text-align: center; 
    color: white;
}
.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}

.content-box
{
    padding: 0 0 15px 0;
    height: 80%;
    margin: 10% auto;
    width: 250px;
    background-color: white;
    border-radius: 15px;
}
.qr{
    height: auto;
    width: 225px;
    /* margin: 0 0 15px 0; */
    border-radius: 20px;
    padding: 10px;
}
.heading{

    font-weight: 700;
    padding: 7.5px 15px;
}
.desc{
    font-weight: 400;
    font-size: 10px;
    padding: 7.5px 15px;

}